[submodule "external/bgfx.cmake"]
	path = external/bgfx.cmake
	url = git@github.com:caioteixeira/bgfx.cmake.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/portable-file-dialogs"]
	path = external/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf
